.page {
  text-align: center;
  display: block;
  width: 95%;
  margin: auto;
  margin-top: 95px;
}

.header, .footer {
  color: #add8e6;
  text-shadow: 2px 2px 2px #0277bd;
  text-align: center;
}

.imgSize {
  position: relative;
  top: 40px;
  width: 300px;
}

.footer {
  position: fixed;
  bottom: 0%;
  display: block;
  width: 100%;
  margin: auto;
}