.page {
  text-align: center;
  display: block;
  width: 95%;
  margin: auto;
  margin-top: 95px;
}

.header {
  color: #add8e6;
  text-shadow: 2px 2px 2px #0277bd;
}

.imgSize {
  position: relative;
  top: 50px;
  width: 300px;
  margin-top: 30px;
}
